@import url("./variables.css");

/* font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: "Ubuntu", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    font-family: "Ubuntu", sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}



/* =======================================================================
    Buttons CSS
========================================================================== */
.btn-primary{
    background-color: var(--primary);
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px!important;
    border: 1.5px solid transparent;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: var(--White);
    color: var(--primary);
    border-color: var(--primary);
}

.more-link{
    color: var(--primary);
    font-size: 16px;
    font-weight: 500;
}
.more-link:hover{
    color: var(--Secondary);
    letter-spacing: 0.5px;
}
.more-link:hover i{
    margin-left: 25px;
}



/* =======================================================================
    General Common CSS
========================================================================== */
.section-heading-one{
    margin-bottom: 40px;
}
.section-heading-one h2{
    font-size: 24px;
    color: var(--black);
    font-weight: bold;
}


/* =======================================================================
    Navbar CSS
========================================================================== */
.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--White);
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 1px;
}
.Navbar-dropdown{
    background-color: var(--White);
    border: 1.5px solid var(--primary);
    border-radius: 10px;
    padding: 10px 40px 10px 10px;
    width: 220px;
    text-align: left;
}
.Navbar-dropdown.dropdown-toggle::after{
    position: absolute;
    top: 46%;
    right: 8px;
}

.search-input-box .form-control{
    border: 1.5px solid var(--primary);
    border-radius: 10px;
    min-width: 330px;
    border-right: 0;
    min-height: 40px;
}
.search-input-box .form-control:focus{
    box-shadow: none;
    outline: none;
}
.search-input-box .input-group-text{
    background-color: var(--primary); 
    border: 1.5px solid var(--primary);
    border-radius: 10px;
    padding: 0;
    border-left: 0;
}
.search-input-box .input-group-text button{
    background-color: transparent;
    color: var(--White)!important;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: 0.3s all ease;
}
.search-input-box .input-group-text button:hover{
    transform: scale(1.3);
}


/* Category Nav */
.category-nav{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-top: 85px;
}
.category-nav-box .category-list{
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.category-nav-box .category-list li{
    margin: 0 10px;
}
.category-nav-box .category-list li .category-link{
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s all ease;
}
.category-nav-box .category-list li .category-link:hover{
    text-decoration: underline;
    color: var(--primary);
    letter-spacing: 0.5px;
}
.category-select{
    background-color: transparent;
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s all ease;
    border: none;
}






/* =======================================================================
    Main Banner CSS
========================================================================== */
.main-banner .banner-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}
#main-banner-slider .owl-dots{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main-banner-slider .owl-dots button span{
    width: 30px;
    height: 3px;
    background-color: var(--White);
}
#main-banner-slider .owl-dots button.active span{
    background-color: var(--Secondary);
}


/* =======================================================================
    All Category Section CSS
========================================================================== */
.all-category-sec{
    padding: 70px 0 40px;
}
.category-item{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.category-item img{
    width: 70px;
    margin-bottom: 5px;
    transition: 0.3s all ease;
}
.category-item .title{
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s all ease;
}
.category-item:hover img{
    transform: scale(1.2);
}
.category-item:hover .title{
    color: var(--primary);
}



/* =======================================================================
    Single Category Section CSS
========================================================================== */
.single-category-sec{
    padding: 70px 0 40px;
}
.product-item{
    position: relative;
    /* border: 1px solid #000; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.product-item .img-box{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-item .img-box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s all ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-item .img-box img:hover{
    transform: scale(1.2);
}
.product-item .img-box .like-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary);
    background-color: var(--White);
    border-radius: 10px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 16px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.product-item .img-box .like-btn i{
    transition: 0.3s all ease;
}
.product-item .img-box .like-btn:hover i{
    font-weight: bold;
}
.product-item .content-box{
    padding: 0px 15px 15px 15px;
}
.product-item .content-box .title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Number of lines to show */
    text-overflow: ellipsis;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.product-item .content-box .title:hover{
    color: var(--primary);
}
.product-item .content-box .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Number of lines to show */
    text-overflow: ellipsis;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.product-item .content-box .price{
    color: var(--primary);
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
}
.product-item .content-box .date{
    color: var(--text);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
}
.product-item .content-box .location{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1; /* Number of lines to show */
    text-overflow: ellipsis;
    color: var(--text);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
}

.product-item .content-box .milage{
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
}
.product-item .content-box .milage i{
    color: var(--primary);
}
.product-item .content-box .modal-year{
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
}
.product-item .content-box .modal-year i{
    color: var(--primary);
}

.product-item .content-box .house-info{
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
}
.product-item .content-box .house-info i{
    color: var(--primary);
}











/* =======================================================================
    scroll to top btn CSS
========================================================================== */
.back-to-top-box{
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 10;
    display: none;
}
.back-to-top-btn{
    background-color: var(--White);
    color: var(--primary);
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}


/* =======================================================================
    Footer CSS
========================================================================== */
.footer-banner{
    border-bottom: 3px solid var(--primary);
}
.footer-banner .img-box{
    text-align: end;
}
.footer-banner .img-box img{
}
.footer-banner .content-box .title{
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
}

.footer-main{
    padding-top: 30px;
}
.footer-main .footer-link-box{
    margin-bottom: 30px;
}
.footer-main .footer-link-box .title{
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-main .footer-link-box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-main .footer-link-box ul li{
    margin-bottom: 5px;
}
.footer-main .footer-link-box ul li a{
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}
.footer-main .footer-link-box ul li a:hover{
    text-decoration: underline;
    color: var(--primary);
    letter-spacing: 0.5px;
}

.footer-bottom{
    background-color: var(--White);
    color: var(--White);
    padding: 10px 0;
}
.footer-bottom .text{
    color: var(--text);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 20px;
}
.footer-bottom .copyright-text{
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 20px;
}